@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

@font-face {
    font-family: 'SkyFont';
    src: url('../lib/Skyfont/Skyfont.otf'); /* IE9 Compat Modes */
    src: url('../lib/Skyfont/Skyfont.otf?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  }

  :root {
    --background-grey: #191919;
    --background-lightgrey: #323232;
    --background-darkblue: #00123e;
  }

html,
body {
    margin: 0;
    padding: 0;
    background-color: var(--background-grey);
    color: #ccc;
    font-family: 'Open Sans';
}

#titleBar {
    position: absolute;
    top: 0px;
    height: 49px;
    width: 100%;
    background-color: var(--background-grey);
}

#titleBar h1 {
    font-family: "SkyFont";
    font-size: 46px;
    color: #eee;
    padding: 0.1rem 1rem 0.1rem 1rem;
    margin: 0;
    letter-spacing: 0.05em;
}

#viewDiv {
    position: absolute;
    top: 50px;
    left: 300px;
    right: 400px;
    bottom: 235px;
}

.esri-attribution {
    color: white;
    background-color: rgba(255, 255, 255, 0);
}

#leftPanel {
    position: absolute;
    width: 300px;
    top: 50px;
    bottom: 235px;
    left: 1%;
    overflow: scroll;
}

#leftPanel h2 {
    margin: 0;
    padding-top: 1rem;
}

#leftPanel .filter {
    padding-top: 0.8rem;
} 

#rightPanel {
    position: absolute;
    width: 400px;
    top: 50px;
    bottom: 235px;
    right: 0;
    overflow: scroll;
}

#rightPanel h2 {
    text-align: center;
    margin: 0;
    padding-top: 1rem;
}

#bottomPanel {
    position: absolute;
    height: 235px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

#barCharts {
    height: 200px;
}

#chart { 
    height: 500px;
    width: 350px;
}

select {
    width: 250px;
}

select {
	display: block;
	font-size: 16px;
	font-family: sans-serif;
    /* font-weight: 700; */
    /* color: #444; */
	color: #ccc;
	line-height: 1.3;
	padding: .6em 1.4em .5em .8em;
	width: 100%;
	max-width: 250px;
	box-sizing: border-box;
	margin: 0;
	border: 1px solid #ccc;
	box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
	border-radius: .5em;
	-moz-appearance: none;
	-webkit-appearance: none;
    appearance: none;
    /* background-color: #fff; */
	background-color: var(--background-lightgrey);
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
	  linear-gradient(to bottom, var(--background-lightgrey) 0%, var(--background-lightgrey) 100%);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
	background-size: .65em auto, 100%;
}
select::-ms-expand {
	display: none;
}
select:hover {
	border-color: #888;
}
select:focus {
	border-color: #ccc;
	box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
	box-shadow: 0 0 0 3px -moz-mac-focusring;
	color: #ccc;
	outline: none;
}
select option {
	font-weight:normal;
}

.tab {
    padding-top: 5px;
}
.tabcontent {
    display: none;
    border-top: 1px solid white;
}

button.tablink {
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-bottom: none;
    border-top-left-radius: .5em;
    border-top-right-radius: .5em;
    background-color: var(--background-lightgrey);
    height: 34px;
    color: #ccc;
    font-size: 0.8rem;
}

button.tablink.active {
    color: #fff;
    background-color: #0093BF;
    font-weight: bold;
}

#splashScreen {
    position: absolute;
    z-index: 5;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    /* width: 80%;
    height: 80%; */
    padding: 30%;
    background-color: #00123eee;
}

#splashScreen h2 {
    text-align: center;
    font-family: "SkyFont";
    font-size: 52px;
    color: #eee;
    padding: 0.1rem 1rem 0.1rem 1rem;
    margin: 0;
    letter-spacing: 0.05em;
}

#splashScreen button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    border-radius: .5rem;
    font-size: 2rem;
    /* font-weight: bold; */
    color: #ccc;
    border-color: white;
    background-color: var(--background-lightgrey);
}